.header {
	background-image: url(../img/bg.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #FFFFFF;
	text-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}

.logo {
	color: #FFF;
	text-shadow: rgba(0,0,0,0.3) 0 1px 3px;

}

/* Hack for sticky footer */
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

button.secondary, .button.secondary {
	background-color: #FFFFFF;
    color: #2BA6CB;
    text-shadow: rgba(0,0,0,0) 0 1px 1px;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      background-color: #e8e8e8; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      color: #3780C2; }

#new-d-submit {
	float: left;
	max-width: 200px;
}

#new-d-due {
	float: left;
	max-width: 100px;
	margin-top: -2px;
	padding-left: 5px;
}
